
.icon-ok:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-down-big:before { content: '\e803'; } /* '' */
.icon-gmail:before { content: '\e804'; } /* '' */
.icon-up-big:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
